.header-banner {
  background-color: white;
  height: 63px;
  position: sticky;
  box-shadow: 0 -2px 6px 0 #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100vw;
}

.logo {
  margin-left: 25px;
}
